{% extends "layout.html" %}
{% block title %}
    {{ human.user }}
{%  endblock %}
{% block content %}
    <h1> About {{ pet.name }} </h1>
    <div class="human">
    <h2> Human </h2>
    name: {{ human.user }}
    bday:{{ human.birthday }}
    location: {{ human.location }}
    bio: {{ human.bio }}
    </div>
   <div class="pet">
   <h2> Pet </h2>
    name: {{ pet.name }}
    age: {{ pet.age }}
    nickname: {{ pet.nickname }}
   </div>
{% endblock %}


{#header text showing up but models not#}